services:
  db:
    image: postgres:18.1-alpine3.22
    container_name: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: django
      POSTGRES_PASSWORD: django
      POSTGRES_DB: django
      LANG: de_DE.utf8
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
  postgres:
